name: Java CI with Maven

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java-version: [ '21' ]

    steps:
    - uses: actions/checkout@v6
    
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java-version }}
        distribution: 'temurin'
        cache: maven
        
    - name: Check Code Formatting
      run: mvn spotless:check
      
    - name: Build with Maven
      run: mvn clean verify -DskipTests=false
